@import '../widgetsBase.scss';

.optionButton, .optionResult {
  display: block;
  padding: 1em 0;
  padding-right: .5em;
  // margin-bottom: 1em;
  position: relative;
  width: 100%;
  border: none;
  text-align: left;
  background: transparent;
  outline: none;
  border: 1px solid #bbb;
  transition: .3s;
  border-radius: 20px;
}

.optionButton {
  cursor: pointer;
  opacity: .6;

  &:hover, &:focus, &.currentOptionButton {
    background: #ddd;
    opacity: 1;
  }
}

.optionResult {
  margin-bottom: .5em;
  background: #ddd;
}

.currentOptionButton {
  
}

.optionButtonWithImage, .optionResultWithImage {
  padding-left: 3.2em;
}

.optionImage {
  position: absolute;
  left: .3em;
  top: .3em;
  width: 2.5em;
  height: 2.5em;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.countVotes {
  margin-top: 1em;
  font-size: 12px;
}
