@import './variables.scss';

.container {
  padding: 1rem 1rem 1rem 0;
  max-width: $page-maxw;
}

.layout {
  @media (min-width:$lg-minw) {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto 300px;
    grid-template-rows: max-content min-content;
    background-color: #fff;
    color: #444;
    // align-items: start;
    justify-items: stretch;
  }
}

.videoPlayer {
  max-width: 100%;
  width: 600px;

  @media (min-width:$lg-minw) {
    grid-column: 1 / 2;
  }
}

.sidebar {
  @media (min-width:$lg-minw) {
    grid-column: 2 / 3;
    grid-row: 1 / span 5;
  }
}

.content {
  @media (min-width:$lg-minw) {
    grid-column: 1 / 2;
    grid-row: 2;
    justify-content: stretch;
    align-content: stretch;
  }
}
