.container {
  padding-top: 2rem;
}

.menuItem {
  display: block;
  width: 100%;
  color: #babcbf;
  text-decoration: none;
  padding: .2rem 0;

  &:hover, &:focus {
    text-decoration: none;

    .menuIcon, .menuText, .menuText > span {
      text-decoration: none;
      color: #39b;
    }
  }
  
  .menuIcon {
    transition: .3s;
    min-width: 40px;
    color: #babcbf;
  }
  
  .menuText > span {
    transition: .3s;
    font-weight: bold !important;
  }
}

.menuDivider {
  height: 2rem;
}