html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$aColor: #37c;

a {
  color: $aColor;
  text-decoration: none;
  transition: .3s;

  &:hover, &:focus {
    text-decoration: underline;
    color: darken($aColor, 20%);
  }
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

h3 {
  font-size: 20px;
}


p {
  line-height: 1.4em;
}