html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

$aColor: #37c;

a {
  color: $aColor;
  text-decoration: underline;
  transition: .3s;

  &:hover, &:focus {
    color: darken($aColor, 20%);
  }
}

* {
  box-sizing: border-box;
}
